.app-container {
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.left {
  box-sizing: border-box;
  width: 200px;
  border: 1px solid #eee;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  // justify-content: space-around;
  height: 50px;
  border-bottom: 1px solid #eee;
}

.logo {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 10px;
}

.system-name {
  font-size: 18px;
  font-weight: bold;
  color: #0af;
}

.right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  height: 50px;
  border-bottom: 1px solid #eee;
}

.main {
  flex-grow: 1;
}
